* {
    box-sizing: border-box;
}

body {
    background: #fff;
    position: fixed;
}

.container {
    width: 980px;
}

.search {
    display: block;
    width: 460px;
    margin: 0 auto;
    padding: 0;
}

.photo-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    width: 200px;
    height: 200px;
    margin: 15px;
}