* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search {
    width: 460px;
    margin: 30px auto 0;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 16pt;
    color: lightgrey;
}

.photo-gallery {
    width: 980px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
}

.photo {
    margin-top: 30px;
}

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.close {
    font-family: sans-serif;
    font-size: 2em;
    display: block;
    color: white;
    position: absolute;
    top: 1px;
    right: 200px;
    height: 20px;
    width: 20px;
    font-weigth: 100;
    cursor: pointer;
}

figure {
    max-width: 980px;
    margin: auto;
}

.largePhoto {
    width: 800px;
    margin-top: 120px;
}

.caption {
    color: white;
    max-width: 600px;
    margin: 45px auto;
    font-size: 1.2em;
    line-height: 1.75;
}

.arrow {
    position: absolute;
    color: white;
    font-size: 5em;
    cursor: pointer;
}

.arrow-left {
    left: 10%;
}

.arrow-right {
    right: 10%;
}

.hidden {
    display: none;
}
